<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="IRespondingGatewaySync">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                        <secureConversationBootstrap requireSignatureConfirmation="false" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="IRespondingGatewaySync1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc"
                binding="customBinding" bindingConfiguration="IRespondingGatewaySync"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync1" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc/nosaml"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync2" />
            <endpoint address="https://open-ic.epic.com:4437/Interconnect-CE-2015/wcf/epic.community.hie/xcpdrespondinggatewaysync.svc"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync_eHEX" />
        </client>
    </system.serviceModel>
</configuration>