<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="IRespondingGatewaySync">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" requireSignatureConfirmation="true">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="IQuery">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" requireSignatureConfirmation="true">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="IRetrieve">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <mtomMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="IRespondingGatewaySync1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="IQuery1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="IRetrieve1" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc"
                binding="customBinding" bindingConfiguration="IRespondingGatewaySync"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync1" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/XcpdRespondingGatewaySync.svc/nosaml"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync2" />
            <endpoint address="https://open-ic.epic.com:4437/Interconnect-CE-2015/wcf/epic.community.hie/xcpdrespondinggatewaysync.svc"
                binding="wsHttpBinding" bindingConfiguration="IRespondingGatewaySync1"
                contract="XCPD.IRespondingGatewaySync" name="IRespondingGatewaySync_eHEX" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc/ce"
                binding="customBinding" bindingConfiguration="IQuery" contract="XCA.IQuery"
                name="IQuery" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc"
                binding="wsHttpBinding" bindingConfiguration="IQuery1" contract="XCA.IQuery"
                name="IQuery1" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc/nosaml"
                binding="wsHttpBinding" bindingConfiguration="IQuery1" contract="XCA.IQuery"
                name="IQuery2" />
            <endpoint address="https://open-ic.epic.com:4437/Interconnect-CE-2015/wcf/epic.community.hie/respondinggateway.svc"
                binding="wsHttpBinding" bindingConfiguration="IQuery1" contract="XCA.IQuery"
                name="IQuery_eHEX" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc/mtom-ce"
                binding="customBinding" bindingConfiguration="IRetrieve" contract="XCA.IRetrieve"
                name="IRetrieve" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc/mtom"
                binding="wsHttpBinding" bindingConfiguration="IRetrieve1"
                contract="XCA.IRetrieve" name="IRetrieve1" />
            <endpoint address="https://open-ic.epic.com/Interconnect-CE-2015/wcf/epic.community.hie/RespondingGateway.svc/nosaml-mtom"
                binding="wsHttpBinding" bindingConfiguration="IRetrieve1"
                contract="XCA.IRetrieve" name="IRetrieve2" />
            <endpoint address="https://open-ic.epic.com:4437/interconnect-ce-2015/wcf/epic.community.hie/respondinggateway.svc/mtom"
                binding="wsHttpBinding" bindingConfiguration="IRetrieve1"
                contract="XCA.IRetrieve" name="IRetrieve_eHEX" />
        </client>
    </system.serviceModel>
</configuration>